.key {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 40px;
  height: 100px;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-black);

  &--white {
    color: var(--color-black);
    background-color: var(--color-white);
  }

  &--black {
    width: 35px;
    height: 80px;
    color: var(--color-white);
    background-color: var(--color-black);
  }
}
