.piano {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 230px;
  width: 100%;
  background-color: var(--color-gray-2);
  border: 1px solid var(--color-dark-1);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);

  &__keys {
    display: flex;
    justify-content: center;
    column-gap: 5px;
    align-items: start;
  }
}
