.pianotes {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 100%;
  height: 100%;
  padding: 24px;
  background-color: var(--color-white);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}
